label {
    display: inline-block !important;
    margin-bottom: 0.5rem !important;
}

.form-inline {
    display: inline !important;
}

.table-responsive {
    overflow-x: visible;
}

.form-control {
    font-size: .8rem;
    border-radius: 10rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card-header .col-md-2 {
    text-align: right;
}

.modal-dialog .help-block {
    color: #ff0000;
}

.card-body img {
    max-width: 100%;
}

.disabled {
    background-color: #EAECF4 !important;
    padding-left: 0 !important;
}

.swal-button:not([disabled]) {
    background-color: #4e73df !important;
    border-radius: 10rem;
}

.swal-button:not([disabled]):hover {
    background-color: #2e59d9 !important;
    border-radius: 10rem;
}